Hi,

Please verify your email address for your danni.bg account using the following code:

{{ .VerificationCode }}

This code is valid for 24 hours.

If you did not create a danni.bg account, please ignore this email.
